body {
    font-family: Arial;
    margin: 0;
    background: #fff;
}

header {
    background: #c62828;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    padding: 50px;
    text-align: center;
    background: #ffe6e6;
}

button {
    padding: 10px 20px;
    border: none;
    background: #c62828;
    color: white;
    cursor: pointer;
}

.form-container {
    width: 300px;
    margin: 30px auto;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}
